/* -- General 👇👇👇 ---------------------------------------------------------- */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 2rem;
    background-image: url("../src/fondo.png");
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
}

main {
    width: 80%;
}

.footer-list img {
    width: 5rem;
}

/* -- Página de inicio 👇👇👇 ------------------------------------------------- */
.card {
    background-color: #8a79a8;
    color: #2a1e35;
    width: 40rem;

    border-radius: 1rem;
    overflow: hidden;
}

.card img {
    width: 100%;
}